    <style>
        .custom-carousel .carousel-item {
          height: 300px; /* Adjust this height as necessary */
        }
    
        .custom-carousel .carousel-item svg {
          height: 100%; /* Ensure the SVG fills the height */
        }
      </style>
  <div class="container">
    <div id="myCarousel" class="carousel slide mb-6 custom-carousel" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg class="bd-placeholder-img" width="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
          </svg>
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Example headline.</h1>
              <p class="opacity-75">A test to our carousel working yippe</p>
              <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
          </svg>
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Some representative placeholder content for the second slide of the carousel.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
          </svg>
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>One more for good measure.</h1>
              <p>I hope I get to see this one yahoo!!!</p>
              <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="container">
    <div class="row mb-2">
      <!-- Main Content -->
      <div class="col-md-8"><!---This class holds the two cards and the blogpost-->
        <!-- Featured Posts -->
        <div class="row mb-4">
          <div class="col-md-6">
            <!-- Card 1 -->
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
                <!-- Post Title -->
                <h3 class="mb-0">Featured post</h3>
                <!-- Post Date -->
                <div class="mb-1 text-body-secondary">Nov 12</div>
                <!-- Post Excerpt -->
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <!-- Continue Reading Link -->
                <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                  Continue reading
                  <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                </a>
              </div>
              <!-- Featured Post Image (Optional) -->
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <!-- Card 2 -->
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
                <!-- Post Title -->
                <h3 class="mb-0">Featured post</h3>
                <!-- Post Date -->
                <div class="mb-1 text-body-secondary">Nov 12</div>
                <!-- Post Excerpt -->
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <!-- Continue Reading Link -->
                <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                  Continue reading
                  <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                </a>
              </div>
              <!-- Featured Post Image (Optional) -->
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              </div>
            </div>
          </div>
          
        </div> <!--THE END OF THE CARDS-->
        
        <!-- Blog Posts -->
        <div class = "recents"> 
          <h1>Blog Posts</h1>     
            <div *ngIf="blogPost && blogPost.length > 0">
              <div *ngFor="let post of blogPost">
                <div class="card w-100">
                  <div class="card-body">
                <h2><a href="post/{{post.slug}}">{{ post.title }}</a></h2>
                <p>{{ post.body }}</p>
              </div>
            </div>
            <div *ngIf="!blogPost || blogPost.length === 0">
              No blog post data available.
            </div>
          </div>
         </div>
        </div>
  
      </div>
      
      <!-- Sidebar -->
      <aside class="col-md-4 blog-sidebar">
        <div class="container p-3">
            <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
              <input type="search" class="form-control" placeholder="Search..." aria-label="Search" (input)="onSearchInput($event)">
              <div class="search-menu" [hidden]="!searchText">
                <ul *ngFor="let post of closestMatch">  
                  <li><a href="post/{{post.slug}}">{{ post.title }}</a></li>
                </ul>
              </div>
            </form>
          </div>          
        <div class="p-3 mb-3 bg-light rounded">
          <h4 class="font-italic">About</h4>
          <p class="mb-0">This is a book review and recommendations website, where users converse about books they read. There are several book clubs depending on your choice of books</p>
        </div>
  
        <div class="p-3">
          <h4 class="font-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            <!-- List of Archives -->
            <li><a href="https://www.diychatroom.com/">March 2024</a></li>
            <li><a href="https://www.diychatroom.com/">February 2024</a></li>
            <li><a href="https://www.diychatroom.com/">January 2024</a></li>
            <li><a href="https://www.diychatroom.com/">December 2023</a></li>
            <li><a href="https://www.diychatroom.com/">November 2023</a></li>
            <li><a href="https://www.diychatroom.com/">October 2023</a></li>
            <li><a href="https://www.diychatroom.com/">September 2023</a></li>
            <li><a href="https://www.diychatroom.com/">August 2023</a></li>
            <li><a href="https://www.diychatroom.com/">July 2023</a></li>
            <li><a href="https://www.diychatroom.com/">June 2023</a></li>
            <li><a href="https://www.diychatroom.com/">May 2023</a></li>
            <li><a href="https://www.diychatroom.com/">April 2023</a></li>
          </ol>
        </div>
  
        <div class="p-3">
          <h4 class="font-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <!-- Links to External Platforms -->
            <li><a href="https://github.com/ZainabNugget/WT-GP.git">GitHub</a></li>
            <li><a href="https://github.com/ZainabNugget/WT-GP.git">Twitter</a></li>
            <li><a href="https://github.com/ZainabNugget/WT-GP.git">Facebook</a></li>
            <li><a href="https://github.com/ZainabNugget/WT-GP.git">Instagram</a></li>
          </ol>
        </div>
      </aside>
    </div>
  </div>
  