/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
  }
  
  .blog-header-logo:hover {
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  }
  
  .flex-auto {
    flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;

  }

  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
  }

.carousel {
    margin-bottom: 4rem;
  }

  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  .carousel-item {
    height: 32rem;
  }

  .custom-carousel .carousel-item {
    height: 50%; 
  }
  
  .custom-carousel .carousel-item svg {
    height: 300px; 
  }


@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.search-menu {
  position: absolute;
  top: calc(100% + 10px); /* Position the menu below the search input */
  left: 0;
  z-index: 999; /* Ensure the menu appears above other content */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-menu li {
  margin-bottom: 5px;
}

/* Hide the menu by default */
.search-menu[hidden] {
  display: none;
}

  @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  .col-md-8 {
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
  }
  
