<div class="container mt-4 mb-4 p-3 d-flex justify-content-center" style="height: 80vh;">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            <button class="btn btn-secondary">
                <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" />
                ]</button>
            <span class="name mt-3">{{users.username}}</span> <span class="idd"></span>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                <span class="idd1">Role: {{users.role}}</span>
                <br/>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                <span class="idd1">Email: {{users.email}}</span>
                <br/>
            </div>
            <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i
                        class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i
                        class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
            <div class=" px-2 rounded mt-4 date "> <span class="join">Joined May,2024</span> </div>
        </div>
    </div>
    <div class="card" *ngIf="admin && users">
        <div class="card-body">
            <div class="p-3" *ngIf="allUsers && allUsers.length > 0">
                <h4 class="font-italic" >Users</h4>
                <ol class="list-unstyled mb-0" *ngFor="let user of allUsers">
                  <!-- List of Archives -->
                  <li>User:  {{ user.username }} </li>
                </ol>
              </div>
        </div>
    </div>
</div>