<div class="container">
<div *ngIf="blogPost">
    <h1>Blog Posts</h1>
    <div>
        <h2>{{ blogPost.title }}</h2>
        <p>{{ blogPost.summary }}</p>
        <p>{{ blogPost.body }}</p>
        <p>{{ blogPost.username }}</p>
        <!-- If approved show approval -->
        <div *ngIf="blogPost.approved">
            <p>Approved Question</p>
        </div> 
        <!-- Else pending approval  -->
        <div *ngIf="!blogPost.approved">
            <p>Pending Approval</p>
        </div>
        <!-- If admin show these buttons -->
        <div *ngIf="admin">
            <button class="btn btn-danger" (click)="delete()">Delete</button>
            <button class="btn btn-primary" (click)="disapprove()">Disapprove</button>
            <button class="btn btn-primary" (click)="approve()">Approve</button>
        </div>
    </div>
  </div>
  <!-- Comments -->
<div *ngIf="blogPost">
    <div *ngIf="blogPost.comments.length > 0">
        <h1>Comments:</h1>
        <div class="card" *ngFor="let comment of blogPost.comments">
            <p>{{ comment.comment }}</p>
            <figcaption>{{ comment.username }}</figcaption>
            <div class="like-comment-container">
                <button class="btn btn-primary like-button" (click)="like(comment)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.920 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                    </svg>
                </button>
                <p>{{comment.likes }}  </p>
                <div *ngIf="comment.userApproved">
                    <p>Approved by the original poster!</p>
                </div>
                <div *ngIf="sameuser && !comment.userApproved">
                    <!-- Tool tip required to approve of comments teehee -->
                    <button class="btn btn-primary" (click)="approveComment(comment)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check" viewBox="0 0 16 16">
                            <path
                                d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                        </svg>
                    </button>
                </div>
            </div>            
        </div>
    </div>
    <div *ngIf="blogPost.comments.length == 0">
        <p>No comments yet teehee</p>
    </div>
</div>
<!-- End of comments -->
<!-- Make A Comment -->
<div class="col-lg-12">
    <div *ngIf="errorMessage" class="alert alert-warning" role="alert">{{ errorMessage }}</div>
    <h5 class="comment-title">Leave an answer</h5>
    <form class="row" (submit)="submit()" [formGroup]="commentsForm">
        <div class="col-12 mb-3">
            <label for="comment-message">Answer here:</label>
            <textarea class="form-control" formControlName="comment" id="comment-message" placeholder="Comment here" cols="30"
                rows="6"></textarea>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary" value="Post comment">Submit</button>
        </div>
    </form>
</div>
</div>
<!-- End of make a comment -->
